#page
  position: relative
  background-color: white
  cursor: pointer
  >.header
    height: 45px
    +background-image(linear-gradient(#5676b5, #242153))
    border-color: #111A33
    +box-shadow(inset 0 1px 1px -1px white, 0 1px 5px rgba(0,0,0,.5))
    overflow: hidden
    width: 100%
    .trigger
      float: left
      margin: 1px 0 0 10px
      height: inherit
      background-size: 40px 41px
      width: 40px
    .title
      text-align: center
      font-size: 16px
      color: white
      margin: .8em 0
      padding: 0
      text-overflow: ellipsis
      overflow: hidden
      text-indent: -10px
    .back
      float: left
      margin: 7px 0 0 10px
      height: inherit
      background-size: 30px 30px
      width: 40px


#menu
  position: fixed
  width: 220px
  top: 0
  left: 0
  height: 100%
  background-color: #1A2E5A
  > header
    padding: 0 8px
    height: 43px
    +background-image(linear-gradient(#2a3a59, #162138))
    border-bottom: 1px solid #000
    border-top: 1px solid #5F6673
    color: white
  .separator
    +background-image(linear-gradient(#2a3a59, #162138))
    border-bottom: 1px solid #242A37
    border-top: none
    +box-shadow(inset 0 1px 0 rgba(255, 255, 255, .08))
    color: #7A8292
    padding: 4px 0 4px 8px
    +text-shadow(0 1px 0 rgba(0, 0, 0, .6))
    font-size: 10px
    line-height: 12px
    text-transform: uppercase
  li
    position: relative
    display: block
    list-style: none
    min-height: 43px
    line-height: 40px
    padding: 3px 0 3px 8px
    background-color: #1A2E5A
    border-bottom: 1px solid #0B1B3F
    +box-shadow(inset 0 1px 0 rgba(255, 255, 255, .08))
    font-size: 16px
    color: #C4CCDA
    +text-shadow(0 1px 0 rgba(0, 0, 0, .6))
    background-position: 10px 8px
    &:active
      background-color: #08183D
    a
      display: block
      padding: 0 0 0 50px

