/*colors
$darkBlue:	#020022
$lightBlue: #d9d5ff
$darkGrey:  #797989

$blue1:     #596399
$blue2:     #030054
$grey1:     #f1f1f1
$grey2:     #e0e0e0
$grey3:     #9c9ca4
$greyBlue:  #dbdae0

/* import compass dependencies
@import 'compass/css3/transform'
@import 'compass/css3/transition'
@import 'compass/css3/images'
@import 'compass/css3/box-shadow'
@import 'compass/css3/text-shadow'

/*import vendor styles
@import '_ng-mobile-menu.sass'

/* imports page style
@import '_common.sass'
@import '_login.sass'
@import '_menus.sass'
@import '_post.sass'
@import '_profil.sass'


