<div id="menu" ng-if="menu">
	<header></header>
	<div>
		<ul>
			<li class="icon-profil">
        <a href="#/students/profil">Profil</a>
			</li>
		</ul>
		<div class="separator"></div>
		<ul>
			<li class="icon-post">
        <a href="#/">Publication</a>
			</li>
			<li class="icon-media">
        <a  href="#/media">Média</a>
			</li>
		</ul>
		<div class="separator"></div>
		<ul>
			<li class="icon-annuaire">
        <a href="#/students/index">Annuaire</a>
			</li>
			<li class="icon-assoce">
        <a href="#/groups">Associations</a>
			</li>
			<li class="icon-utils">
        <a href="#/utils">Liens utils</a>
			</li>
		</ul>
		<div class="separator"></div>
		<ul>
			<li class="icon-logout">
        <a href="#/logout" >Déconnexion</a>
			</li>
		</ul>
	</div>
</div>