<ul class="menu-list">
  <li>
    <a href="#/students/list/{{lastPromo}}">{{lastPromo}} (Sup)</a>
  </li>
  <li>
    <a href="#/students/list/{{lastPromo - 1}}">{{lastPromo - 1}} (Spé)</a>
  </li>
  <li>
    <a href="#/students/list/{{lastPromo - 2}}">{{lastPromo - 2}} (A1)</a>
  </li>
  <li>
    <a href="#/students/list/{{lastPromo - 3}}">{{lastPromo - 3}} (A2)</a>
  </li>
  <li>
    <a href="#/students/list/{{lastPromo - 4}}">{{lastPromo - 4}} (A3)</a>
  </li>
  <li>
    <a href="#/students/list/all">Tous</a>
  </li>
</ul>