.icon-annuaire { background-image: url(png\annuaire.png); background-repeat: no-repeat; }

.icon-arrow_back { background-image: url(png\arrow_back.png); background-repeat: no-repeat; }

.icon-arrow_next { background-image: url(png\arrow_next.png); background-repeat: no-repeat; }

.icon-assoce { background-image: url(png\assoce.png); background-repeat: no-repeat; }

.icon-calendar { background-image: url(png\calendar.png); background-repeat: no-repeat; }

.icon-comment { background-image: url(png\comment.png); background-repeat: no-repeat; }

.icon-jaime { background-image: url(png\jaime.png); background-repeat: no-repeat; }

.icon-like { background-image: url(png\like.png); background-repeat: no-repeat; }

.icon-like_link { background-image: url(png\like_link.png); background-repeat: no-repeat; }

.icon-logout { background-image: url(png\logout.png); background-repeat: no-repeat; }

.icon-media { background-image: url(png\media.png); background-repeat: no-repeat; }

.icon-menu { background-image: url(png\menu.png); background-repeat: no-repeat; }

.icon-official { background-image: url(png\official.png); background-repeat: no-repeat; }

.icon-pdf { background-image: url(png\pdf.png); background-repeat: no-repeat; }

.icon-post { background-image: url(png\post.png); background-repeat: no-repeat; }

.icon-profil { background-image: url(png\profil.png); background-repeat: no-repeat; }

.icon-utils { background-image: url(png\utils.png); background-repeat: no-repeat; }