<div id="menu">
	<header></header>
	<div>
		<ul>
			<li class="icon-profil">
        <a href="#/profil">Profil</a>
			</li>
		</ul>
		<div class="separator"></div>
		<ul>
			<li class="icon-post">
        <a href="#/">Publication</a>
			</li>
			<li>
        <span class="icon-media">Média</span>
			</li>
		</ul>
		<div class="separator"></div>
		<ul>
			<li>
        <span class="icon-annuaire">Annuaire</span>
			</li>
			<li>
        <span class="icon-assoce">Association</span>
			</li>
			<li>
        <span class="icon-utils">Liens utils</span>
			</li>
		</ul>
		<div class="separator"></div>
		<ul>
			<li class="icon-logout">
        <a href="#/logout" >Déconnexion</a>
			</li>
		</ul>
	</div>
</div>