<div id="login">
	<div class="logo">
		<img src="img/logo_iseplive.png"/>
	</div>
	<div class="padd">
		<label for="login">Identifiant</label>
		<input type="text" class="login-input" name="login" id="login" ng-model="login" placeholder="Obligatoire"/>
		<label for="password">Mot de passe</label>
		<input type="password" class="login-input" name="password" id="password" ng-model="password" placeholder="Obligatoire"/>
	</div>
	<div class="text-center">
		<input type="submit" ng-click="signin()" class="login-submit" value="Login"/>
	</div>
</div>