<div id="utils">
  <span><a href="http://www.ellypsis.fr/" target="_blank">Ellypsis</a></span>
  <span><a href="http://www.isep.fr/" target="_blank">Site de l'ISEP</a></span>
  <span><a href="http://planning.isep.fr/" target="_blank">Plannings ISEP</a></span>
  <span><a href="http://eleves.isep.fr/moodle/" target="_blank">Moodle ISEP</a></span>
  <span><a href="http://gcma.isep.fr" target="_blank">Annuaire ISEP</a></span>
  <span><a href="http://logement.isep.fr/" target="_blank">Logements ISEP</a></span>
  <span><a href="http://isep.tombapik.com/" target="_blank">Tombapik</a></span>
  <span><a href="http://forge.isep.fr/" target="_blank">Forge ISEP</a></span>
</div>